$fontcolor: #9CC4B2;
$eventcolor: #9CC4B2;
$background: #293132;

.main {
  display: grid;
  columns: 1;
  justify-items: center;
}

.header {
  font-size: 4rem;
  color: $fontcolor;
  margin: 2rem 0 2rem 0;
}

.events-sec {
  display: grid;
  grid-auto-rows: auto;
}

.event {
  background-color: $eventcolor;
  color: $background;
  margin: 1rem;
  padding: 1rem;
}